* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  margin: 0px auto;
  position:relative;
  top:150px;
}

@font-face {
  font-family: "Museo 300";
  src: url("../fonts/Museo300-Regular.eot");
  src: local("Museo 300"), local("Museo 300"),
  url("../fonts/Museo300-Regular.otf") format("opentype"),
  url("../fonts/Museo300-Regular.woff") format("woff"),
  url("../fonts/Museo300-Regular.svg#Museo 300") format("svg");
}

header{
  border: 0px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  opacity: ;
  width: 100%;
  height: 125px;

  position: fixed;
  top: 0px;
  left: 0px;

  z-index: 1;

  overflow: hidden;
}

.top_nav_bar{
  background-color: ;
  margin: 0px auto;
  width: 1200px;

}

.logo{
  float: left;
}

.nav{
  float; right;
  background-color: ;
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 10pt;
}

.container{
  overflow: hidden;
  width: 1200px;
  margin: 0px auto;
  background-color: #fff;
  padding-top: 50px;
  border-radius: 3px;
  font: 20px "Museo 300", Helvetica, Arial, sans-serif;
  
}


.container h1{
  padding-bottom: 10px;
  text-align: center;
  width: 1200px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: none;
  margin-bottom: 50px;
  color: black;
  line-height: 20px;
  font: 20px "Museo 300", Helvetica, Arial, sans-serif;
}

nav ul{
  padding: 55px 0px;

}

nav ul a{
  transition: all 100ms linear;
  color: #aaaaaa;
  display: block;
  float: right;
  background-color: none;
  text-decoration: none;
  text-align: right;
 
  width: 100px;
  margin-left: 30px;
  padding: 5px 10px;
}

nav ul a:hover{
  background-color: none;
}

nav ul a:active{
  background-color: none;
}

nav ul li:first-child a{
  margin-left: 0px;
}

nav ul li:hover a{
  color: black;
}

nav ul li:active a{
  color: #73ffc7
}

.container .motion{
  padding-bottom: 25px;
  margin-right: -100px;
}

.container .motion .work{
  float: left;
  margin-right: 66px;
  margin-bottom: 50px;
  width: 250px;
}

.container .illustration{
  padding-top: 50px;
  padding-bottom: 25px;
  margin-right: -30px;
}

.container .illustration .work{
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
  width: 175px;
}

.container .design{
  padding-top: 50px;
  padding-bottom: 25px;
  margin-right: -30px;
}

.container .design .work{
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
  width: 175px;
}

.footer_bar{
  margin-top: 100px;
  width: 100%;
  height: 150px;
  background-color: #eeeeee;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

footer{
  padding: 20px;
  font: 10pt Helvetica, Arial, sans-serif;
  width: 1200px;
  text-transform: uppercase;
}
  
.profile_pic{
  padding-top: 50px;
  margin-top: 35px;
  background-color: none;
}

.about{
  padding-top: 50px;
  background-color: none;
  float: right;
  width: 568px;

}

.about h1{
  background-color: none;
  width: 568px;
  margin-bottom: 30px;
  text-align: center;
}

.about_header{
  background-color: none;
  margin-top: 0px;
  margin-bottom: 0px;
}


.about p{
  background-color: none;
  color: black;
  font-size: 12pt;
  line-height: 25px;
}

.about_header a{
  text-decoration: none;
  color: #00c4df;
}

.about .contact{
  background-color: none;
  margin-top: 20px;

}

.about .contact a{
  background-color: none;
  float:left;
  width:55px;
}


.about .contact p{
  background-color: none;
  float: right;
   width:190px;
}
.section{
  overflow:hidden;
}



